.icon-accounts,.icon-addon_domains,.icon-address_importer,.icon-advanced_zone_editor,.icon-aliases,.icon-analog_stats,.icon-anonymous_ftp,.icon-apache_handlers,.icon-apache_spam_assassin,.icon-api_shell,.icon-archive,.icon-authentication,.icon-autoresponders,.icon-awstats,.icon-backup,.icon-backup_wizard,.icon-bandwidth,.icon-boxtrapper,.icon-calendar_and_contacts,.icon-change_language,.icon-change_password,.icon-change_style,.icon-contact_information,.icon-cpu_and_concurrent_connection_usage,.icon-cron_jobs,.icon-default_address,.icon-directory_privacy,.icon-disk_usage,.icon-email_filters,.icon-encryption,.icon-error_pages,.icon-errors,.icon-file_manager,.icon-forwarders,.icon-ftp_accounts,.icon-ftp_connections,.icon-global_email_filters,.icon-greylisting,.icon-hotlink_protection,.icon-images,.icon-indexes,.icon-ip_blocker,.icon-leech_protection,.icon-logaholic,.icon-lvephpsel,.icon-mailing_lists,.icon-metrics_editor,.icon-mime_types,.icon-mod_security,.icon-multiphp_ini_editor,.icon-multiphp_manager,.icon-mx_entry,.icon-mysql_database_wizard,.icon-mysql_databases,.icon-optimize_website,.icon-perl_modules,.icon-php,.icon-php_my_admin,.icon-php_pear_packages,.icon-php_pg_admin,.icon-postgresql_database_wizard,.icon-postgresql_databases,.icon-raw_access,.icon-redirects,.icon-remote_mysql,.icon-ruby_gems,.icon-ruby_on_rails,.icon-security_policy,.icon-simple_zone_editor,.icon-site_publisher,.icon-site_software,.icon-ssh_access,.icon-ssl_management,.icon-ssl_storage,.icon-ssl_tls,.icon-subdomains,.icon-tls_wizard,.icon-track_delivery,.icon-track_dns,.icon-two_factor_authentication,.icon-user_manager,.icon-virus_scanner,.icon-visitors,.icon-web_disk,.icon-web_host_manager,.icon-webalizer,.icon-webalizer_ftp { background-image: url('./icon_spritemap.png?18bc6e27f6b375ee7864ee45303ada682fabae5268db6265cdab419c0092421a_'); background-repeat: no-repeat; }
.icon-accounts { background-position: -5px -63px; width: 32px; height: 32px; }
.icon-addon_domains { background-position: -47px -63px; width: 33px; height: 32px; }
.icon-address_importer { background-position: -118px -5px; width: 32px; height: 32px; }
.icon-advanced_zone_editor { background-position: -118px -47px; width: 32px; height: 32px; }
.icon-aliases { background-position: -5px -105px; width: 32px; height: 32px; }
.icon-analog_stats { background-position: -47px -105px; width: 32px; height: 32px; }
.icon-anonymous_ftp { background-position: -89px -105px; width: 32px; height: 32px; }
.icon-apache_handlers { background-position: -439px -87px; width: 45px; height: 30px; }
.icon-apache_spam_assassin { background-position: -160px -5px; width: 46px; height: 32px; }
.icon-api_shell { background-position: -160px -47px; width: 32px; height: 32px; }
.icon-archive { background-position: -160px -89px; width: 32px; height: 32px; }
.icon-authentication { background-position: -5px -147px; width: 32px; height: 32px; }
.icon-autoresponders { background-position: -47px -147px; width: 32px; height: 32px; }
.icon-awstats { background-position: -89px -147px; width: 32px; height: 32px; }
.icon-backup { background-position: -131px -147px; width: 32px; height: 32px; }
.icon-backup_wizard { background-position: -216px -5px; width: 45px; height: 32px; }
.icon-bandwidth { background-position: -216px -47px; width: 32px; height: 32px; }
.icon-boxtrapper { background-position: -216px -89px; width: 35px; height: 32px; }
.icon-calendar_and_contacts { background-position: -216px -131px; width: 32px; height: 32px; }
.icon-change_language { background-position: -173px -147px; width: 32px; height: 32px; }
.icon-change_password { background-position: -5px -189px; width: 32px; height: 32px; }
.icon-change_style { background-position: -47px -189px; width: 32px; height: 32px; }
.icon-contact_information { background-position: -89px -189px; width: 32px; height: 32px; }
.icon-cpu_and_concurrent_connection_usage { background-position: -131px -189px; width: 32px; height: 32px; }
.icon-cron_jobs { background-position: -173px -189px; width: 32px; height: 32px; }
.icon-default_address { background-position: -215px -189px; width: 32px; height: 32px; }
.icon-directory_privacy { background-position: -271px -5px; width: 32px; height: 32px; }
.icon-disk_usage { background-position: -271px -47px; width: 32px; height: 32px; }
.icon-email_filters { background-position: -271px -89px; width: 32px; height: 32px; }
.icon-encryption { background-position: -271px -131px; width: 32px; height: 32px; }
.icon-error_pages { background-position: -271px -173px; width: 32px; height: 32px; }
.icon-errors { background-position: -5px -231px; width: 32px; height: 32px; }
.icon-file_manager { background-position: -47px -231px; width: 32px; height: 32px; }
.icon-forwarders { background-position: -89px -231px; width: 32px; height: 32px; }
.icon-ftp_accounts { background-position: -131px -231px; width: 32px; height: 32px; }
.icon-ftp_connections { background-position: -173px -231px; width: 32px; height: 32px; }
.icon-global_email_filters { background-position: -215px -231px; width: 32px; height: 32px; }
.icon-greylisting { background-position: -257px -231px; width: 32px; height: 32px; }
.icon-hotlink_protection { background-position: -313px -5px; width: 32px; height: 32px; }
.icon-images { background-position: -313px -47px; width: 32px; height: 32px; }
.icon-indexes { background-position: -313px -89px; width: 32px; height: 32px; }
.icon-ip_blocker { background-position: -313px -131px; width: 32px; height: 32px; }
.icon-leech_protection { background-position: -313px -173px; width: 32px; height: 32px; }
.icon-logaholic { background-position: -313px -215px; width: 32px; height: 32px; }
.icon-lvephpsel { background-position: -5px -5px; width: 48px; height: 48px; }
.icon-mailing_lists { background-position: -5px -273px; width: 32px; height: 32px; }
.icon-metrics_editor { background-position: -47px -273px; width: 32px; height: 32px; }
.icon-mime_types { background-position: -89px -273px; width: 32px; height: 32px; }
.icon-mod_security { background-position: -131px -273px; width: 32px; height: 32px; }
.icon-multiphp_ini_editor { background-position: -173px -273px; width: 32px; height: 32px; }
.icon-multiphp_manager { background-position: -215px -273px; width: 32px; height: 32px; }
.icon-mx_entry { background-position: -257px -273px; width: 32px; height: 32px; }
.icon-mysql_database_wizard { background-position: -281px -357px; width: 45px; height: 31px; }
.icon-mysql_databases { background-position: -336px -357px; width: 45px; height: 31px; }
.icon-optimize_website { background-position: -299px -273px; width: 32px; height: 32px; }
.icon-perl_modules { background-position: -355px -5px; width: 32px; height: 32px; }
.icon-php { background-position: -355px -47px; width: 32px; height: 32px; }
.icon-php_my_admin { background-position: -63px -5px; width: 45px; height: 34px; }
.icon-php_pear_packages { background-position: -355px -89px; width: 32px; height: 32px; }
.icon-php_pg_admin { background-position: -5px -315px; width: 50px; height: 32px; }
.icon-postgresql_database_wizard { background-position: -439px -5px; width: 45px; height: 31px; }
.icon-postgresql_databases { background-position: -355px -131px; width: 32px; height: 32px; }
.icon-raw_access { background-position: -355px -173px; width: 32px; height: 32px; }
.icon-redirects { background-position: -65px -315px; width: 33px; height: 32px; }
.icon-remote_mysql { background-position: -439px -46px; width: 45px; height: 31px; }
.icon-ruby_gems { background-position: -355px -215px; width: 32px; height: 32px; }
.icon-ruby_on_rails { background-position: -355px -257px; width: 32px; height: 32px; }
.icon-security_policy { background-position: -108px -315px; width: 32px; height: 32px; }
.icon-simple_zone_editor { background-position: -150px -315px; width: 32px; height: 32px; }
.icon-site_publisher { background-position: -192px -315px; width: 32px; height: 32px; }
.icon-site_software { background-position: -234px -315px; width: 32px; height: 32px; }
.icon-ssh_access { background-position: -276px -315px; width: 37px; height: 32px; }
.icon-ssl_management { background-position: -323px -315px; width: 32px; height: 32px; }
.icon-ssl_storage { background-position: -397px -5px; width: 32px; height: 32px; }
.icon-ssl_tls { background-position: -397px -47px; width: 32px; height: 32px; }
.icon-subdomains { background-position: -5px -357px; width: 43px; height: 32px; }
.icon-tls_wizard { background-position: -397px -89px; width: 32px; height: 32px; }
.icon-track_delivery { background-position: -397px -131px; width: 32px; height: 32px; }
.icon-track_dns { background-position: -397px -173px; width: 32px; height: 32px; }
.icon-two_factor_authentication { background-position: -397px -215px; width: 32px; height: 32px; }
.icon-user_manager { background-position: -397px -257px; width: 32px; height: 32px; }
.icon-virus_scanner { background-position: -397px -299px; width: 32px; height: 32px; }
.icon-visitors { background-position: -58px -357px; width: 32px; height: 32px; }
.icon-web_disk { background-position: -100px -357px; width: 32px; height: 32px; }
.icon-web_host_manager { background-position: -142px -357px; width: 45px; height: 32px; }
.icon-webalizer { background-position: -197px -357px; width: 32px; height: 32px; }
.icon-webalizer_ftp { background-position: -239px -357px; width: 32px; height: 32px; }